html, body { background-color: #fefae0; color: black; }
body {
  margin: 1em;
  font: 14px "trebuchet ms",verdana,tahoma,sans-serif;
  line-height: 1.1em;
}
p { margin: 1em 0; }

h1, h2, h3, h4, h5, h6 { margin: 1em 0; }
