/* ListView */

.DlListView { border: 1px solid #98a; position: relative; background-color: #f4f2f8; }

.DlListView-scroller { overflow: auto; }
.DlListView-headscroller { overflow: hidden; }

.DlListView-cell { /* border-left: 1px solid #fff; border-top: 1px solid #fff; */ overflow: hidden; }
.DlListView-celldiv {
  overflow: hidden;
  white-space: nowrap; padding: 1px 3px;
}
table.DlListView-content { border-collapse: collapse; table-layout: fixed; }
table.DlListView-colheader { border-collapse: collapse; table-layout: fixed;
  border: 1px solid #87b; }

.DlListView-colheader-cell {
  /* border: 1px solid; border-color: #bae #659 #659 #bae; */ background-color: #cbe;
}
.DlListView-colheader-celldiv {
  border: 1px solid; border-color: #fef #98c #98c #fef;
  overflow: hidden;
  padding: 1px 2px; white-space: nowrap;
}

.DlListView-row-odd .DlListView-cell { background-color: #f4f2f8; border-color: #f4f2f8; }
.DlListView-row-even .DlListView-cell { background-color: #fff; border-color: #fff; }

.DlListView-align-left { text-align: left; }
.DlListView-align-right { text-align: right; }
.DlListView-align-center { text-align: center; }

.DlListHeadButton-hover { background-color: #dcf; border-color: #fff #aae #aae #fff; }
.DlListHeadButton-active { padding: 2px 1px 0 3px; border-color: #bae #fef #fef #bae; }
.DlListHeadButton {
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.DlListHeadButton-withIcon {
  padding-left: 22px;
  background-repeat: no-repeat !important;
  background-position: 0 50%;
}

.DlListHeadButton-sort-up { background-image: url("img/arrows/sort-ascending.gif"); }
.DlListHeadButton-sort-down { background-image: url("img/arrows/sort-descending.gif"); }
.DlListView-align-right .DlListHeadButton { background-position: 2px 50%; }


